.formWrap {
  background: var(--color-bg-dark);
  padding: 10px 15px;
  border-radius: 0 0 15px 15px;
}
.formWrap form,
.darkFormWrap form {
  display: flex;
  justify-content: space-between;
}

.input {
  color: var(--color-text);
  padding: 10px;
  width: 100%;
  border: 0;
  margin-right: 10px;
  border-radius: 10px;
}

.button {
  border: 1px solid var(--color-accent);
  padding: 10px 20px;
  font-size: 16px;
  color: var(--color-white);
  background: var(--color-accent);
  font-weight: bold;
  border-radius: 10px;
  opacity: 0.7;
}

.button:hover,
.darkButton:hover {
  opacity: 1;
}

/*darkmode*/
.darkFormWrap {
  background: var(--color-bg-darkDM);
  padding: 10px 15px;
  border-radius: 0 0 15px 15px;
}

.darkInput {
  color: var(--color-text);
  padding: 10px;
  width: 100%;
  border: 0;
  margin-right: 10px;
  border-radius: 10px;
}

.darkButton {
  border: 1px solid var(--color-accent);
  padding: 10px 20px;
  font-size: 16px;
  color: var(--color-white);
  background: var(--color-accent);
  font-weight: bold;
  border-radius: 10px;
  opacity: 0.7;
}
